* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: bisque;
    overflow-x: hidden;
}

.container {
    border-radius: 13px;
    background-color: black;
    margin-top: 7vh;
    width: 78vw;
    min-height: 91vh;
    height: 100%;
    background-size: contain;
    margin-left: 10vw;
    margin-right: 6vw;
    margin-bottom: 0;
    color: white;
    padding-bottom: 7vh;
}

.music-li {
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 37px;
    padding: 15px;
    width: 39.6875vw;
    text-align: center;
    margin: 2vh 0;
}

#music-list {
    margin: 7vh 4.5vw;
    margin-bottom: 0;
}

.music-li-head {
    flex: none;
    text-align: center;
    padding-top: 4vh;
}

.bottom {
    position: sticky;
    bottom: 0;
    background-color: white;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#progressBar {
    width: 80vw;
    margin-top: -2vh;
    cursor: pointer;
}

.icons {
    height: 49px;
    margin: 0 0.5vw;
    cursor: pointer;
}

.buttons {
    margin: 1vh 0;
}

.songInfo {
    position: absolute;
    bottom: 35px;
    font-weight: 600;
    left: 5vw;
    font-size: 17px;
}

.songName {
    position: relative;
    font-family: 'Varela Round', sans-serif;
    bottom: 5px;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#upload-folder {
    display: none;
}

#upload-btn {
    margin-left: 7vw;
    height: 8vh;
    font-size: 3vh;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4c54af;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

#upload-btn:hover{
    background-color: #6168b7;
}

#music-list,
.buttons {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}